<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        Christina's Awesome Blog
    </title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/badc11c74c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/posts">Christina's Awesome Blog</a>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h1>Edit the Awesome Post</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <a href="/posts"><button> < Back to posts</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <form action="/posts/<%= id %>?_method=PUT" method="post">
                    <div class="form-group">
                        <input type="text" name="author" value="<%= author %>" class="form-control"></div>
                    <div class="form-group"> <input type="textarea" name="post_body" value="<%= post_body %>" class="form-control"></div>
                    <div class="form-group"> <input type="text" name="date" value="<%= date %>" class="form-control"></div>
                    <div class="form-group"> <input type="submit" value="Update Post">
                </form>
                </div>
            </div>

        </div>

    </div>

    <footer>
        <div class="footer_text text-left">


            &copy; 2016 Christina McMillan
        </div>
    </footer>
</body>

</html>
